@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fizyczny rozmiar karty do druku */
:root {
  --card-w: 37mm;  /* 5 kart w rzędzie na A4 */
  --card-h: 52mm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white;
  }
  .no-print { display: none !important; }
}
