@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-w: 86mm;
  --card-h: 120mm;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background: white;
  }
  .no-print { display: none !important; }
}
